 <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-brand">
            <h2>Dreamville.</h2>
            <p>The First Beach Club in Jakarta</p>
          </div>
          <div class="footer-contact">
            <a
              href="https://maps.app.goo.gl/MiAQzzAo9Zsh7Vja7"
              target="_blank"
              class="map-link"
            >
              <i class="fas fa-location-dot"></i>
              <span>Pantai Indah Kapuk 2, Jakarta, Indonesia</span>
            </a>
          </div>
          <div class="footer-social">
            <a href="https://www.instagram.com/dreamville.id/"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://wa.me/628111568188"
              ><i class="fab fa-whatsapp"></i
            ></a>
            <a href="mailto:marketing@dvsbc.com"
              ><i class="fas fa-envelope"></i
            ></a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Dreamville Beach Club. All Rights Reserved.</p>
        </div>
      </div>
    </footer>