<section id="highlights" class="section">
  <div class="container">
    <div class="highlight-header reveal">
      <h2 class="big-text">
        Dance <span class="divider"></span> Dine
        <span class="divider"></span> Dreams
      </h2>
      <p class="sub-text">Immerse yourself in the golden hour.</p>
    </div>

    <div class="vibe-grid">
      <div class="vibe-item item-large reveal">
        <div class="slideshow-wrapper">
          <img
            src="assets/img/dance1.jpg"
            alt="Party Crowd 1"
            class="slide-img"
          />
          <img
            src="assets/img/dance2.jpg"
            alt="Party Crowd 2"
            class="slide-img"
          />
          <img
            src="assets/img/dance3.jpg"
            alt="Party Crowd 3"
            class="slide-img"
          />
        </div>

        <div class="vibe-overlay">
          <span>The Crowd</span>
        </div>
      </div>

      <div class="vibe-item item-small reveal delay-1">
        <img src="assets/img/dine2.jpeg" alt="Dining" />
        <div class="vibe-overlay">
          <span>The Taste</span>
        </div>
      </div>

      <div class="vibe-item item-tall reveal delay-2">
        <img src="assets/img/dreams2.jpg" alt="Sunset" />
        <div class="vibe-overlay">
          <span>The Vibes</span>
        </div>
      </div>
    </div>
  </div>
</section>
