<section
  id="reservations"
  class="section parallax-bg"
  style="background-image: url('assets/img/reservations.webp')"
>
<div class="overlay-dark"></div>
  <div class="container relative reveal">
    <div class="reservation-box">
      <h2>Secure Your Spot</h2>
      <p>
        To ensure the best experience, we highly recommend booking your
        table or daybed in advance. Minimum spend applies for VIP areas and
        sunset hours (4 PM - 7 PM).
      </p>
      <a href="https://wa.me/628111568188" class="btn btn-gold"
        ><i class="fab fa-whatsapp"></i> Reserve via WhatsApp</a
      >
    </div>
  </div>
</section>